<div class="content">

    <!-- login form -->
    <div class="rightPannel">
        <div class="card">
            <div class="centerForm">
                <div class="textboxContent">
                    <input class="boxDesign" type="text" name="userName" placeholder="ex: sazzad">
                    <span></span>
                </div>
                <div class="textboxContent">
                    <input class="boxDesign" type="password" name="uPassword" placeholder="password">
                    <span></span>
                </div>
                <div class="buttonPosition">
                    <!-- <button class="btnSignIn">Log In</button> -->
                    <input type="button" class="btnSignIn" value="Sign In">
                </div>
            </div>
        </div>
    </div>

    <!-- left Pannel -->
    <div class="left-panel">

        <div class="wish-container">

            <div class="wish">
                <img class="svgImg" src="../../../../assets/sun.svg" alt="Can not Load your browser">

                <p class="hText">
                    Good Morning
                </p>
            </div>

            <div class="wish-text">
                <p class="wish-text-header">Welcome to AITS Idea Ltd.</p>
                <p class="wish-text-details">
                    How are you? We hope you are in safe. Safety is the most important things for you. And
                    responsibility is the most important things for you and us.
                    <br>
                    <br>
                    We believe in you. So, get ready, set, and go...
                </p>
            </div>



        </div>
        <!-- svg -->
        <div class="developer-activity">
                <img class="developer-activity" src="../../../../assets/3588964.jpg" alt="can not load browser">
        </div>

    </div>
</div>